* {
	box-sizing: border-box;
}

html {
	background: #000;	
}

body {
	width: 100%;
	margin: 0;
	position: relative;
    background: url(../images/main3.jpg) no-repeat center top;
	background-size: auto 80%;
    min-height: 100vh;
}

img {
	max-width: 100%;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	padding-bottom: 20px;
}

.swiper-container {
	width: 100%;
	max-width: 900px;
	padding-top: 50px;
}

.swiper-wrapper {
	display: flex;
	align-items: flex-end;
}

.swiper-slide {
	background-size: cover;
	background-position: top center;
	width: 300px;
	overflow: hidden;
	height: 300px;
}

.swiper-slide img {
	opacity: 0;
}
